config.json
accounts.beforeTesting.json

# Eclipse PDT Files
.buildpath
.settings
.project

# VS Code Files
.vscode

# IntelliJ PHPStorm Files
.idea

# Personal Files that I use for various purposes such as getting the items and saves table and
# merging them in php and pushing them to new table in mysql as I can't be asked to learn mysql
# syntax that's that advanced lol
public/php/admin.php